body{
    background-color: #F2F2F2;
    
}
.container{
    background: #192939;
    position: relative;
    width: 70%;
    top: 89px;
    padding-bottom: 6%;
    
}
nav{
    position: absolute;
    width: 100%;
    height: 89px;
    left: 0px;
    top: 0px;
    background: #0B7373;
}
.logo{
    position: absolute;
    width: 296px;
    height: 146px;
    left: 2%;
    top: -33px; 
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 
             -2px -2px 0px #00FFFF, 
             -2px 2px 0px #00FFFF,                    
              2px -2px 0px #00FFFF,                  
              2px 0px 0px #00FFFF;
}

.receita{
    position: absolute;
    width: 255px;
    height: 74px;
    left: 58%;
    top: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    
}
div a{
    color: #FFFFFF;
    text-decoration: none;
}
#pes{
    position: absolute;
    width: 289px;
    height: 74px;
    left: 75%;
    top: 7px;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    background: #FFFFFF;
    border-radius: 80px;
}
#send{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 25%;
    top: 2px;
}
#produto{
    width: 367.21px;
    height: 349.18px;
    left: 310px;
    top: 113px;
    margin-top: 14%;
    
    background-color: white;
    border-radius: 30px;
}
#produto2{
    width: 367.21px;
    height: 349.18px;
    left: 310px;
    top: 113px;
    margin-top: 17%;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 5%;
    }
.footer{   
   position: fixed;
   bottom: 0%;
   width: 100%;
   height: 50px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 50px;
   margin-top: 0%;
   background-color:#0DC2C4;
   color: white;
   text-align: center;
   margin-bottom: none;

}
